 
 * {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }

 body { 
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .container-main {
    border: 1px solid #fda745;
    width: 100%;

    
 }

 .header-container {
    border: 1px solid #fda745; 
    height: 40px;
    width: 99%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
 }

 p {
   margin-top: 10px;
   margin-bottom: 10px;
    text-align: center;
 }

 .prompt  {
    border: 1px solid #fda745; 
    height: 40px;
    width: 99%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
 }



 .image-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;

 }

 .image-wrapper #image-containerA{
    border: 1px solid #fda745;
    display: flex;
    flex-direction: column;
 }

 .image-wrapper #image-containerB{
    border: 1px solid #fda745;
    display: flex;
    flex-direction: column;
   
 }

 .image-wrapper #image-containerC{
    border: 1px solid #fda745;
    display: flex;
    flex-direction: column;
 }


 img {
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
 }

 .image-wrapper #image-containerA #hide-btnA {
    margin-left: 10px;
    margin-right: 10px;
    background: #6276eb;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease; 
 }

 .image-wrapper #image-containerA #hide-btnA:hover{
    background: #e4110a;
 }

 .image-wrapper #image-containerB #hide-btnB {
    margin-left: 10px;
    margin-right: 10px;
    background: #6276eb;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease; 
 }

 .image-wrapper #image-containerB #hide-btnB:hover{
    background: #e4110a;
 }
 
 .image-wrapper #image-containerC #hide-btnC {
    margin-left: 10px;
    margin-right: 10px;
    background: #6276eb;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease; 
 }

 .image-wrapper #image-containerC #hide-btnC:hover{
    background: #e4110a;
 }

 .button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
 }

 .button-container .unhide-btnA {
    width: 130px;
    margin-left: 30px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fda745; 
    cursor: pointer;
    color: color 0.3 ease; 
 }

 .button-container .unhide-btnA:hover{
    color: #fff;
    background: #6276eb;
 }


.button-container .unhide-btnB {
    width: 130px;
    margin-left: 30px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fda745; 
    cursor: pointer;
    color: color 0.3 ease; 
 }

 .button-container .unhide-btnB:hover{
    color: #fff;
    background: #6276eb;
 }

 .button-container .unhide-btnC {
    width: 130px;
    margin-left: 30px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fda745; 
    cursor: pointer;
    color: color 0.3 ease; 
 }

 .button-container .unhide-btnC:hover{
    color: #fff;
    background: #6276eb;
 }





